/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
}

header h1 img{
    font-size: 2em;
    margin-left: 20px;
}

nav {
    background-color: #f8f9fa;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 30px;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 15px;
}

.breeds-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.breed {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.breed img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-size: 0.8em;
    color: #666;
    background-color: #333;
}
